/build/
gradle/
.gradle/
.idea/
out/
.idea/!/databases/
/default.realm
/default.realm.lock
.DS_Store
*.lock
*.realm
*.realm.*
*.note
/*.realm.management/
/*.management/
/*.bliss
/src/main/resources/rank/*
*.log
gradlew
gradlew.bat
